:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

h1, h2, p {
  margin: 0;
}

h1 {
  font-size: 14.46px;
  line-height: 18px;
  letter-spacing: -0.075em;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: lowercase;
  margin-left: 7px;
}

h2 {
  font-size: 25px;
  margin-bottom: 18px;
  margin-top: 4px;
}

header {
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  margin-bottom: 27px;
}

a {
  color: #918E9B;
}

a:hover {
  color: #242327;
}
